<div class="container">
    <div class="row m-3">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                  Inicio de Sesión
                </div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">Iniciar sesion con Google</button>
                        <button class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFB()">Iniciar sesion con Facebook</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
